*{
    font-family: Roboto;
}
#navbar{
    /* border: 2px solid black; */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0px;
}
#sbar{
    height: 50%;
    width: 120px;
    /* border: 2px solid red; */
}
#sbar>img{
    height: 100%;
    width: 100%;
}
#links{
    /* height: 50%; */
    width: 40%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-right: 200px;
}
#links>a{
    text-decoration: none;
    color: rgb(13, 11, 77);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
#icon{
    /* border: 2px solid red; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
#login{
    /* border: 2px solid red; */
    background-color: red;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
}
#login>i{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}
#login a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

#container{
    height: 550px;
    width: 100%;
    /* border: 2px solid red; */
}
#container>img{
    height: 100%;
    width: 100%;
}
#cards{
    /* border: 2px solid black; */
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,0fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.box{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: auto;
    height: 450px;
    width: 350px;
    border-radius: 5px;
    margin-top: 30px;
}
.box>div{
    /* border: 2px solid black; */
    width: 100%;
    height: 40%;
}
.box>div>img{
    height: 100%;
    width: 100%;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
}
#tittle{
    /* border: 2px solid black; */
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
#tittle>p{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
#detail{
    /* border: 2px solid black; */
    height: auto;
    width: 80%;
    margin: auto;
}
#detail>p{
    font-size: 25px;
    font-weight: 400;
}
#discount{
    /* border: 2px solid black; */
    height: auto;
    width: 80%;
    margin: auto;
}
#discount>p{
    font-size: 14px;
    font-weight: 400;
}
#apply{
    /* border: 2px solid black; */
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
#apply>a{
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: 700;
}
#apply>a>i{
    font-size: 11px;
}
#video{
    /* border: 2px solid black; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px
}
#vid{
    /* border: 2px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 380px;
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    height: 80%;
    width: 90%;
    margin: auto;
}
#data{
    /* border: 2px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 80%;
    width: 23%;
}
#data>div{
    /* border: 2px solid black; */
    margin: auto;
    width: 80%;
    font-size: 20px;
}
#photo{
    /* border: 2px solid black; */
    margin: auto;
    width: 80%;
    height: 33%;
}
#photo>img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#photo+div{
    /* border: 2px solid black; */
}
#photo+div>p{
    font-size: 14px;
    row-gap: 3px;
}

@media screen and (min-width:0px) and (max-width:800px) {
    #links{
        display: none;
    }
    #navbar{
        justify-content: space-between;
    }
    #icon{
        display: none;
    }
    #video{
        flex-direction: column;
    }
    #data{
        width: 350px;
    }
    #vid{
        width: 350px;
    }
}
@media screen and (min-width:700px) and (max-width:1000px) {
    #cards{
        grid-template-columns: repeat(2,0fr);
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    #cards{
        grid-template-columns: repeat(1,0fr);
    }
}